name: Crowdin

on:
  push:
    branches: [ main ]
    paths:
      - 'locales/en/*.json'
      - 'crowdin.yml'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  synchronize-with-crowdin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Synchronize with Crowdin
        uses: crowdin/github-action@v2
        with:
          upload_sources: true
          upload_translations: false
          download_translations: ${{ github.event_name == 'workflow_dispatch' }}

          skip_untranslated_strings: true
          export_only_approved: false

          localization_branch_name: crowdin
          create_pull_request: ${{ github.event_name == 'workflow_dispatch' }}
          pull_request_title: 'New Crowdin translations'
          pull_request_body: 'New translations from Crowdin'
          pull_request_base_branch_name: 'main'
          pull_request_labels: 'translations'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}